:root{
	--background:			#EEEEEE;
	--foreground:			gainsboro;

	--main:						#ca0011;
	--menu:						#333333;
	--menu_selected:	#444444;

	--button:					#ECEEEF;
	--border:					#DADADB;

	--primary_font:		#393939;
	--secondary_font:	#444444;

	--lcd_border:	#30302F;
	--lcd_screen:	#87AD34;
	--lcd_color:	#000000;
}

body{
	background-color: var(--background);
	
	font-family: sans-serif;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}

.container>.title{
	text-align: center;
	margin: 0;
}

.data, .wifi-scan{
	border: 10px solid var(--menu);
	border-radius: 10px;
	padding: 10px;
}

.data{
	background-color: var(--foreground);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2rem 2rem 2rem 2rem;
	gap: 6px 0;
	grid-template-areas:
		"name-key name-val"
		"ssid-key ssid-val"
		"pass-key pass-val"
		"reset submit"
		"update-fs update-fw"
	;
}

.data>div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.data .button{
	width: 80%;
}

.data .val input{
	width: 85%;
}

.wifi-scan{
	background-color: var(--lcd_screen);
	border-color: var(--lcd_border);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wifi-scan>.button{
	width: 95%;
}

.network, .network>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.network{
	width: 100%;
	height: 2.2rem;
}

.network>.button{
	width: 30%;
}

#refresh{
	margin-top: 1rem;
}

.loading{
	display: flex;
	justify-content: center;
	align-items: center;
}

#loading{
	width: 4rem;
	height: 2rem;

	background-image: url("/img/loading.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	/* display: none; */
}
